<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/src/style/fonts.css">
    <link rel="stylesheet" href="/src/style/addtask.css">
    <script src="addtask.js"></script>
</head>
<body>
    <div class="maincontainer">
        <h1 class="taddtask">Add Task</h1>
            <div class="container-selections">
                <div class="container-left">
                    <span class="title">Title</span>
                    <input class="titleinput" placeholder="Enter a title" text="text" id="titleinput">
                    <span class="description">Description</span>
                        <div class="descriptionandimage">
                            <input class="descriptioninput" placeholder="Enter a Description" text="text" id="descriptioninput">
                            <img src="../img/icons/Recurso11.svg" alt="three lines drop down" class="threelinesdropdown">
                        </div>
                            <span class="category">Category</span>
                                <div class="inputfieldandimage">
                                <input class="categoryinput" placeholder="Select task category" text="text" id="categoryinput">
                                <img src="../img/icons/Vector2blackarrowdown.svg" alt="black arrow down" class="blackarrowdown">
                                </div> 
                                <span class="assignedto">Assigned to</span>
                                    <div class="inputfieldandimage">   
                                    <input class="assignedinput" placeholder="Select contacts to assign" text="text" id="assignedinput">
                                    <img src="../img/icons/Vector2blackarrowdown.svg" alt="black arrow down" class="blackarrowdown">
                                    </div>
                </div>
                                        <img src="../img/icons/Vector4line.svg" alt="verticalline" class="verticalline">
                <div class="container-right">
                    <span class="duedate">Due date</span>
                        <div class="dateinputandimage">
                        <input class="dateinput" placeholder="dd/mm/yyyy" text="date" id="dateinput">
                        <img src="../img/icons/Vectorkalender.svg" alt="datecalendarsymbol" class="datecalendarsymbol">
                        </div>
                            <div class="Prioritys">
                                <span class="prio">Prio</span>
                            </div>
                                <div class="prio-selections">
                                    <img src="../img/icons/urgent.svg" alt="urgent priority symbol">
                                    <img src="../img/icons/medium.svg" alt="medium priority symbol"> 
                                    <img src="../img/icons/low.svg" alt="low priority symbol">   
                                </div>
                                <div class="subtasks-selection">
                                    <span class="subtasktitle">Subtasks</span>
                                </div>
                                    <div class="addnewsubtaskinputandimage">
                                        <input text="text" placeholder="Add new subtask" class="subtask" id="subtask">
                                        <img src="../img/icons/Vectorplusblack.svg" alt="blackplusbutton" class="blackplusbuttonsubtasks">
                                    </div>
                                    <div class="rectangleandsubtask1">
                                        <img src="../img/icons/Rectangle5.svg" alt="rectangle">
                                        <span class="subtask1">Subtask 1</span>
                                    </div>
                                        <div class="clearandcreatetask">
                                            <img src="../img/icons/clearx.svg" alt="clear x button" class="clear x button">
                                            <img src="../img/icons/createtaskbutton.svg" alt="button create task">
                                        </div>
                </div>
            </div>
    </div>
</body>
</html>