<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Board</title>

    <link rel="stylesheet" href="../style/board.css">
    <link rel="stylesheet" href="../style/addtask.css">
    <link rel="stylesheet" type="text/css" href="../style/fonts.css">
    <link rel="stylesheet" type="text/css" href="../style/style-header.css">
    <script src="../../mini_backend.js"></script>
    <script language="JavaScript" type="text/javascript" src="../js/board.js"></script>
    <script language="JavaScript" type="text/javascript" src="../js/board2.js"></script>
    <link rel="icon" type="image/svg+xml" href="../img/icons/favicon.svg" sizes="any">
    <link rel="icon" type="image/png" href="../src/img/icons/favicon.ico">
    
</head>

<body onload= "includeHTML(); init() ; updateHTML()">
   <!-- NOTE -- Master Container  -->
   <div id="MasterContainerDefaultPageId" class="MasterContainerDefaultPagecl">

            
    <!-- NOTE -- Master Container Header -->
    <div id="MasterContainerHeaderId" class="MasterContainerHeadercl" w3-include-html="../templates/header.html">
        <!-- Dieser Inhalt wird geladen [headerload.html] -->
    </div>

    <!-- NOTE -- Master Container Sidebar  -->
    <div id="MasterContainerSidebarId" class="MasterContainerSidebarcl" w3-include-html="../templates/sideMenu.html">
        <!-- Dieser Inhalt wird nachgeladen [sidebarload.html] -->
    </div>

    <!-- NOTE -- Master Container Inside -->
    <!-- <div id="MasterContainerInsideId" class="MasterContainerInsidecl" w3-include-html="../templates/board.html">                 -->
    <!-- </div> -->

   </div>
   <div class="overallcontainer">
        <div class="mastercontainer hide" id="mastercontainerid">
        </div>


        <div class="maincontainer" id="maincontainer">
            <div class="boardsection">
                <div class="insertboard">
                    <span class="tboard">
                        <img src="../img/icons/Board.svg"  class="boardimage" alt="Board"></span>
                    <div class="tasks">
                        <div class="inputfieldandicons">
                            <input class="findtask" type="text" id="search" onkeyup="filterNames()" placeholder="Find Task" \>
                            <img src="../img/icons/Vector3line.svg" alt="verticalline">
                            <img src="../img/icons/icon-magnifying-glass.svg" alt="magnifiying class">
                        </div>
                        <div class="addtaskarea">
                            <img src="../img/icons/addtask.svg" onclick="addTask()" class="btnaddtask" id="addTaskButton">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="severaltodosection">
            <div class="todoplus">
                <span class="progressbar">
                    <img class="progresssections" src="../img/icons/To do.svg" alt="To Do"></span>
                <img class="plusbtnblack" onclick="openNewTask()" id="opennewtask" 1
                    src="../img/icons/plusbuttonblack.svg" alt="plusbutton">
            </div>
            <div class="todoplus">
                <span class="progressbar">
                    <img class="progresssections" src="../img/icons/Inprogress.svg" alt="In progress"></span>
                <img class="plusbtnblack" onclick="openNewTask()" id="opennewtask2"
                    src="../img/icons/plusbuttonblack.svg" alt="plusbutton">
            </div>
            <div class="todoplus">
                <span class="progressbar">
                    <img class="progresssections" src="../img/icons/AwaitingFeedback.svg"
                        alt="Awaiting Feedback"></span>
                <img class="plusbtnblack" onclick="openNewTask()" id="opennewtask3"
                    src="../img/icons/plusbuttonblack.svg" alt="plusbutton">
            </div>
            <div class="todoplus">
                <span class="progressbar">
                    <img class="progresssections" src="../img/icons/Done.svg" alt="Done"> </span>
                <img class="plusbtnblack" onclick="openNewTask()" id="opennewtask4"
                    src="../img/icons/plusbuttonblack.svg" alt="plusbutton">
            </div>
        </div>
        <div class="draganddropsection" id="draganddropsectionid">
            <div class="todoboard">
                <div class="dropdowncontainer drag-area" id="todo" class="drag-area" ondrop="moveTo('todo')"
                    ondragover="allowDrop(event)" ondragenter="highlight('todo')" ondragleave="removeHighlight('todo')">
                </div>
                <div class="dropdowncontainer drag-area" id="inprogress" ondrop="moveTo('inprogress')"
                    ondragover="allowDrop(event)" ondragenter="highlight('inprogress')"
                    ondragleave="removeHighlight('inprogress')">
                </div>
                <div class="dropdowncontainer drag-area" id="awaitingfeedback" ondrop="moveTo('awaitingfeedback')"
                    ondragover="allowDrop(event)" ondragenter="highlight('awaitingfeedback')"
                    ondragleave="removeHighlight('awaitingfeedback')">
                </div>
                <div class="dropdowncontainer drag-area" id="done" ondrop="moveTo('done')" ondragover="allowDrop(event)"
                    ondragenter="highlight('done')" ondragleave="removeHighlight('done')">
                </div>
        </div>
        <div class="mastertaskcontainer" id="mastertaskcontainerid">
            <div class="taskcontainer hide" id="taskcontainerid">
            </div>    
        </div>
    </div>
    <div class="popupnotemastercontainer" id="popupnotemastercontainerid">
        <div class="popupnote" id="popupnoteid">
        </div>
    </div>
    <ul id="list"></ul>
    </div>
</div>    
</body>

</html>