<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../style/fonts.css" />
    <link rel="stylesheet" href="../style/forgotPassword.css" />
    <script src="../js/forgotPassword.js"></script>

    <title>Forgot my password</title>
  </head>

  <body>
    <section>
      <img class="headIcon" src="../img/join-logo.svg" alt="" />

      <div class="contentBox">
        <a href="../../index.html"
          ><img class="backArrow" src="../img/arrow-left-line.svg" alt=""
        /></a>

        <div class="headlineBox">
          <p class="headline">I forgot my password</p>
          <img src="../img/icons/blueUnderline.svg" alt="" />
        </div>
        <p class="headlineBoxText">
          Don't worry! We will send you an email with the instructions to reset
          your password.
        </p>
        <form onsubmit="sendMail(event)">
          <div class="inputFieldBox">
            <div class="nameMailPasswordInputField">
              <input required type="email" placeholder="Email" name="email" />
              <img src="../img/email_input.svg" alt="" />
            </div>
          </div>
          <button class="sendMailBtn">Send me the email</button>
        </form>
      </div>
      <button class="dNone" id="sendMailMsg"></button>
    </section>
  </body>
</html>
