<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../fonts/" />
    <link rel="stylesheet" href="../style/forgotPassword.css" />
    <title>Forgot my password</title>
  </head>

  <body>
    <section>
      <div class="headIcon">
        <img src="../img/join-logo.svg" alt="" />
      </div>
      <div class="contentBox">
        <div class="backArrow">
          <a href="../../index.html"
            ><img src="../img/arrow-left-line.svg" alt=""
          /></a>
        </div>
        <div class="headlineBox">
          <p class="headline">I forgot my password</p>
          <img src="../img/icons/blueUnderline.svg" alt="" />
        </div>
        <div class="headlineBoxText">
          <p>
            Don't worry! We will send you an email with the instructions to
            reset your password.
          </p>
        </div>
        <div class="email">
          <input required type="email" placeholder="New password" />
        </div>
        <button class="continueBtn">Send me the email</button>
      </div>
    </section>
  </body>
</html>
