
 <body>
    <header class="header" >
        <div class="headerLeft">
            <span class="toolName">Kanban Project Management Tool</span>
        </div>
        <div class="headerRight">
            <a class="help" href="/help-comlplete.html"><img src="/src/img/icon-help-head.svg" title="Help"></a>
            <div  onclick="genaretDropDown()">
                <img  class="profilImg" id="profilImg" src="/src/img/christina-wocintechchat-com-0Zx1bDv5BNY-unsplash 1.png" title="avatar" >  
            </div>
        </div>
        <div class="dropdown-links d-none" id="dropdown-links">
            <a  class="logOutDesk" href="/src/templates/signUp.html">Log out</a>
      </div>
    </header>
    <header class="mobile-header">
        <div class="mobile-headerLeft">
            <img class="mobile-logo" src="/src/img/join-logo.svg">
        </div>
        <div onclick="genaretDropDownMobile()" class="mobile-headerRight"  >
            <div class="mobile-profilImg">
                <img  class="profilImg" id="profilImg" src="/src/img/christina-wocintechchat-com-0Zx1bDv5BNY-unsplash 1.png"> 
            </div>
        <div class="mobile-dropdown-links d-none" id="mobile-dropdown-links">

                <a class="mobile-dropdown " href="/help-complete.html">Help</a>
                <a class="mobile-dropdown " href="legal-complete">legal notice</a>
                <a  class="mobile-dropdown" href="/src/templates/signUp.html">Log out</a>
        </div>

        </div>
    </header>
</body>
