<header class="header" >
    <div class="headerLeft">
        <span class="toolName">Kanban Project Management Tool</span>
    </div>
    <div class="headerRight">
        <!-- <img class="help" href="src/templates/help.html" src="src/img/icon-help-head.svg" title="help">
        <img class="profilImg" src="src/img/christina-wocintechchat-com-0Zx1bDv5BNY-unsplash 1.png" title="avatar">  -->
        <a class="help" href="/help-comlplete.html"><img src="src/img/icon-help-head.svg"></a>
        <img class="profilImg" src="src/img/christina-wocintechchat-com-0Zx1bDv5BNY-unsplash 1.png" > 
        <label class="header-label" for="box">Log Out</label>
        
        <!-- <button class="header-logOut" onclick="src/templates/signUp.html"></button> -->
    </div>
 </header>