<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join Help</title>
     <link rel="stylesheet" href="../style/style-help.css">
  <script src="src/js/main.js"></script>  -->

   
<!-- </head> -->



<!-- <body onload="includeHTML()">  -->
    <!-- <header class="header" w3-include-html="src/templates/header.html"></header> -->
    <div class="help">
        <div class="mobile-header-help">
            <span id="mobile-header-help">Kanban Project Management Tool</span>
          </div>
        <div class="help-header">
            <span class="help-headline">Help</span>
            <!-- <img class="help-arrow" src="src/img/arrow-left-black.svg" href="/src/templates/summary-complete" > -->
            <a class="help-arrow" href="/src/templates/summary-complete.html" ><img class="help-arrow" src="/src/img/arrow-left-black.png"></a>
            

        </div>
        <div class="help-content">
            <div class="help-info">
                <span class="help-info-titel">What is Join?</span>
                <span class="help-info-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores quos mollitia magni enim, neque molestias sequi voluptate assumenda ad. Quod ut quae, itaque libero aspernatur consequuntur deserunt autem ipsa tenetur. 
                     Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur aliquid perspiciatis asperiores consequuntur quisquam iusto architecto natus sapiente quod aut consectetur quidem corporis deserunt quos, at, provident mollitia veniam! Dicta!  </span>
            </div>
            <div class="help-use-info">
                <span class="help-info-titel">How to use it</span>
                <div class="help-info-text">
                    <div class="use-text">
                        <div class="number">
                            <b>1.</b> 
                        </div>
                        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum doloremque cupiditate corrupti similique quibusdam laboriosam aliquam iure dignissimos officiis atque! Assumenda vitae sapiente quos adipisci eius exercitationem et placeat quaerat.</span><br>
                    </div>
                    <div class="use-text">
                        <div class="number">
                            <b>2.</b>
                        </div> 
                        <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure nesciunt doloremque saepe.</span><br>
                    </div>
                    <div class="use-text">
                        <div class="number">
                            <b>3.</b>
                        </div> 
                        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur labore vero ad eius, commodi mollitia eos obcaecati optio ex tenetur voluptatum iusto voluptas at, ipsum alias. Doloremque numquam sed odio?</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- </body> -->