<section id="sideMenu" class="sideMenu"> 
    <div class="logo">
        <img class="join-logo" src="/src/img/logo-white.svg" title="logo">
    </div>
    <div class="navbar">
        <div class="navbar-icon"> 
            <img class="navbar-img" src="/src/img/icon-summary.svg" title="summary">
            <a class="navbar-Element" href="/summary-complete.html">Summary</a>
        </div>
        <div class="navbar-icon">
            <img src="/src/img/Icon-board.svg" title="Board">
            <a class="navbar-Element" href="/board-complete.html">Board</a>
        </div>
        <div class="navbar-icon">
            <img src="/src/img/icon-add-task.svg" title="Task">
            <a class="navbar-Element" href="/addTask-complete.html">Add Task</a>
        </div> 
        <div class="navbar-icon">
            <img src="/src/img/icon-contacts 13.svg" title="Contacts">
            <a class="navbar-Element" href="/src/contacts.html">Contacts</a>
        </div> 
            
    </div>
    <div class="navbar-icon">
        <img src="/src/img/icon-legal.svg" title="icon">
        <a class="navbar-Notice" href="/legal-complete.html">Legal notice</a>
    </div>   
</section> 