<!-- <div class="logo">
    <img class="join-logo" src="/img/join-logo.svg">
</div>
<div class="navbar">
    <a href="src/templates/Summary.html">Summary</a>
    <a href="src/templates/board.html">Board</a>
    <a href="src/templates/addTask.html">Add Task</a>
    <a href="src/templates/contacts.html">Contacts</a>
</div>
<div class="notice">
    <a href="src/templates/legalNotice.html">Legal notice</a>
</div> -->
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/src/style/style-header.css">
    <script src="/src/js/main.js"></script>
    <link rel="shortcut icon" href="img/join-logo" type="image/x-icon">

    <title>join sideMenu</title> -->


    
<section id="sideMenu" class="sideMenu"> 
    <div class="logo">
        <img class="join-logo" src="/src/img/logo-white.svg" title="logo">
    </div>
    <div class="navbar">
        <div class="navbar-icon"> 
            <img class="navbar-img" src="/src/img/icon-summary.svg" title="summary">
            <a class="navbar-Element" href="/src/templates/summary.html">Summary</a>
        </div>
        <div class="navbar-icon">
            <img src="/src/img/Icon-board.svg" title="Board">
            <a class="navbar-Element" href="board.html">Board</a>
        </div>
        <div class="navbar-icon">
            <img src="/src/img/icon-add-task.svg" title="Task">
            <a class="navbar-Element" href="addTask.html">Add Task</a>
        </div> 
        <div class="navbar-icon">
            <img src="/src/img/icon-contacts 13.svg" title="Contacts">
            <a class="navbar-Element" href="contacts.html">Contacts</a>
        </div> 
            
    </div>
    <div class="navbar-icon">
        <img src="/src/img/icon-legal.svg" Title="icon">
        <a class="navbar-Notice" href="legalNotice.html">Legal notice</a>
    </div>   
</section> 