<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style/fonts.css" />
    <link rel="stylesheet" type="text/css" href="../style/signUp.css" />

    <script
      language="JavaScript"
      type="text/javascript"
      src="./mini_backend.js"
    ></script>
    <script src="../js/signUp.js"></script>
    <title>Sign up</title>
  </head>
  <body onload="init()">
    <section>
      <div class="headIcon">
        <img src="../img/join-logo.svg" alt="" />
      </div>
      <div class="contentBox">
        <div class="backArrow">
          <a href="../../index.html"
            ><img src="../img/arrow-left-line.svg" alt=""
          /></a>
        </div>
        <div class="headlineBox">
          <p class="headline">Sign up</p>
          <img src="../img/icons/blueUnderline.svg" alt="" />
        </div>
        <form onsubmit="addUser(); return false">
          <div class="inputFieldBox">
            <div class="nameMailPasswordInputField">
              <input required type="text" placeholder="Name" id="names" />
              <img src="../img/name_input.svg" alt="" />
            </div>

            <div class="nameMailPasswordInputField">
              <input required type="email" placeholder="Email" id="emails" />
              <img src="../img/email_input.svg" alt="" />
            </div>

            <div class="nameMailPasswordInputField">
              <input
                required
                type="password"
                placeholder="Password"
                id="passwords"
              />
              <img src="../img/password_input.svg" alt="" />
            </div>
          </div>
        </form>
        <button class="signUpBtn">Sign up</button>
      </div>
    </section>
  </body>
</html>
