<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../style/signUp.css" />
    <link rel="stylesheet" href="src/style/fonts.css" />
    <title>Sign up</title>
  </head>
  <body>
    <section>
      <div class="headerJoinIcon">
        <img src="../img/join-logo.svg" alt="" />
      </div>

      <div class="forgotPasswordBox">
        <a href="../../index.html"
          ><img class="returnArrowBox" src="../img/arrow-left-line.svg" alt=""
        /></a>
        <div class="headlinebox">
          <p class="forgotPassword">Sign up</p>
          <img src="../img/icons/blueUnderline.svg" alt="" />
        </div>

        <div class="SignUpInput">
          <input required type="text" placeholder="Name" />
        </div>
        <div class="SignUpInput">
          <input required type="email" placeholder="New password" />
        </div>
        <div class="SignUpInput">
          <input required type="password" placeholder="New password" />
        </div>

        <button class="signUpBtn">Sign up</button>
      </div>
    </section>
  </body>
</html>
