body {
    margin: 0;
    font-family: 'Inter';
}

.taddtask {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 61px;
    color: #000000;
    padding-left: 355px;
    padding-top: 171px;
}

.container-selections {
    display: flex;
}

.container-left {
    display: flex;
    flex-direction: column;
    padding-left: 355px;
}

.title {
    width: 65px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #000000;
    padding-bottom: 8px;
}

.titleinput {
    outline: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 13px 21px;
    gap: 10px;
    width: 422px;
    height: 51px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #D1D1D1;
}

.descriptionandimage {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 18px 21px;
    gap: 10px;
    isolation: isolate;
    width: 422px;
    height: 119px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
}

.description {
    width: 65px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #000000;
    padding-bottom: 8px;
    padding-top: 34px;
}


.descriptioninput {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    width: 422px;
    height: 119px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    border: none;
    outline: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #000000;
    padding-bottom:80px;
}

.threelinesdropdown {
    width: 18.9px;
    height: 18.9px;
    padding-top: 116px;
    margin-right:-18px;


}

.inputfieldandimage {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 18px 21px;
    gap: 10px;
    isolation: isolate;
    width: 468px;
    height: 51px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.category {
    width: 65px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #000000;
    padding-bottom: 8px;
    padding-top: 34px;
}

.categoryinput {
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: black;

}

.assignedinput {
    border: none;
    color: black;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: black;
}

.assignedto {
    width: 165px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #000000;
    padding-bottom: 8px;
    padding-top: 34px;
}

.blackarrowdown {
    padding-left: 100px;
}

.verticalline {
    padding-left: 59px;
    padding-right: 59px;
    padding-bottom: 110px;
}

.duedate {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #000000;
}

.dateinput {
    outline: none;
    width: 125px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    border: none;
}

.dateinputandimage {
    display: flex;
    width: 125px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #D1D1D1;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 18px 21px;
    gap: 10px;
    isolation: isolate;
    width: 422px;
    height: 51px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    margin-top: 8px;
    margin-bottom: 34px;
}

.datecalendarsymbol {
    padding-left: 260px;
    padding-right: 12px
}


.prio {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #000000;
}

.prio-selections {
    display: flex;
    padding-top: 8px;
    padding-bottom: 34px;
    gap: 20px;
}

.subtasktitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #000000;
    padding-top: 8px;
}

.addnewsubtaskinputandimage {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 18px 21px;
    gap: 10px;
    isolation: isolate;
    width: 422px;
    height: 51px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.subtask {
    outline: none;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    width: 422px;
    padding-top: 8px;
}

.blackplusbuttonsubtasks {
    padding-left: 100px
}

.rectangleandsubtask1 {
    padding-top: 8px;
}

.subtask1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #000000;
    padding-left: 20px;
}

.clearandcreatetask {
    display: flex;
    padding-top: 270px;
    gap: 20px;
    padding-left: 130px;
}



