body {
    font-family: Inter;
    background: #F5F5F5;
}

.maincontainer {
    display: flex;
    flex-direction: column;
    gap: 150px;
    width: 1440px;
    height: 324px;
    
}

.boardsection {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 1145px;
    height: 327px;
    left: 267px;
    top: 57px;
    background: #F6F7F8;
}

.tboard {
    width: 176px;
    height: 73px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 61px;
    line-height: 120%;
    color: #000000;
    padding-right: 180px;
}

.insertboard {
    display: flex;
    align-items: center;
}

.tasks {
    display: flex;
    align-items: center;
    gap: 30px;
    padding-left: 274px;
}

.inputfieldandicons {
    display: flex;
    box-sizing: border-box;
    border: 1px solid #A8A8A8;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 5px;
    padding-left: 5px;
    gap: 10px;

}

.findtask {
    border: none;
    background: #F5F5F5;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    outline: none;
    width: 251px;
    height: 51px;
    border-radius: 12px;
    padding-left: 10px;
}

.addtaskarea {
    padding-top: 2px;
    padding-left: 20px;
}

.todoboard {
    width: 1078px;
    left: 45px;
    top: 286px;
    border-radius: 0px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.todoplus {
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    width: 250px;
    height: 40px;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 25px;
    z-index: 232;
}

.progressbar {
    width: 250px;
    height: 40px;
}

.draganddropsection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 26px;
    width: 1278px;
    z-index:231;
    padding-left: 195px;
}

.plusbtnblack {
    justify-content: center;
    align-items: center;
    padding-bottom: 23px;
}

.draganddrop {
    display: flex;
    flex-direction: row;
}

.notesmain {
    width: 250px;
    border: none;
    background: #FFFFFF;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
    padding-bottom: 10px;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}


.noteheadline {
    font-size: 16px;
    font-family: 'Inter';
}

.inputnote {
    outline: none;
    width: 207px;
    height: 38px;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #A8A8A8;
}

.tmodifythecontents {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #A8A8A8;
    margin-top: 20px;
    padding-top: 20px;
}

.progressloadingbar {
    display: flex;
    justify-content: flex-start;
    gap: 40px;
    padding-top: 20px;
    align-items: center;
}

.progressloadingbarimage {
    margin-bottom: 20px;
}

.usericons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 18px;
    width: 35px;
    height: 35px;
}

.greenarrowdown {
    padding-left: 100px;
}

.greenarrowdown2 {
    padding-left: 130px;
}

.redarrowup {
    padding-left: 100px;
}

.yellowsum {
    padding-left: 100px;
}

.yellowsum2 {
    padding-left: 170px;
}

.dropdowncontainer {
    display: flex;
    flex-direction: column;
    height: 1000px;
}

.dropdowncontainer-highlight {
    background-color: rgba(0,0,0,0.2);
}

.tmodifythecontents {
    padding-bottom: 20px;
}

.halfdone {
    padding-bottom: 20px;
}

.iconsinicons {
z-index: 232;
margin-left: -8px;
}


.overlayAddContactincl {
    animation: toleft 1s linear;
}

.overlayAddContactoutcl {
    animation: torightout 1s linear;
}

@keyframes toleft {
    0% {
        transform: translatex(1870px)
    }

    100% {
        transform: translatex(0px);
    }
}

@keyframes torightout {
    0% {
        transform: translatex(0px)
    }

    100% {
        transform: translatex(1870px);
    }
}

.showSuccessbuttonincl {
    animation: toup 1s ease-in;
}

.showSuccessbuttonoutcl {
    animation: todown 1s linear;
}

@keyframes toup {
    0% {
        transform: translate(0px,0px)
    }

    100% {
        transform: translate(0px,-599px);
    }
}

@keyframes todown {
    0% {
        transform: translate(0px, 0px)
    }

    100% {
        transform: translate(0px, 1099px);
    }
}