body {
    font-family: Inter;
    background: #F5F5F5;
}

.overallcontainer{
    padding-left: 60px;
}


.maincontainer {
    display: flex;
    flex-direction: column;
    gap: 150px;
    /* width: 1440px; */
    /* height: 324px; */
    height: 200px;
}

.boardsection {
    display: flex;
    justify-content: center;
    width: 1145px;
    height: 225px;
    padding-left: 204px;
    background: #F6F7F8;
}

.tboard {
    width: 176px;
    height: 73px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 61px;
    line-height: 120%;
    color: #000000;
    padding-right: 180px;
}

.insertboard {
    display: flex;
    align-items: center;
}

.tasks {
    display: flex;
    align-items: center;
    gap: 30px;
    padding-left: 274px;
}

.inputfieldandicons {
    display: flex;
    box-sizing: border-box;
    border: 1px solid #A8A8A8;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 5px;
    padding-left: 5px;
    gap: 10px;

}

.datecalendarsymbol {
    cursor: pointer;
}

.findtask {
    border: none;
    background: #F5F5F5;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    outline: none;
    width: 251px;
    height: 51px;
    border-radius: 12px;
    padding-left: 10px;
}

.addtaskarea {
    padding-top: 2px;
    padding-left: 20px;
}

.todoboard {
    width: 1378px;
    border-radius: 0px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.todoplus {
    justify-content: flex-end;
    align-items: center;
    width: 250px;
    height: 40px;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 40px;
    z-index: 10;
}

.progressbar {
    width: 250px;
    height: 40px;
}

.severaltodosection {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 160px;
}

.dragging {
    transform: rotate(10deg);
    cursor: move;
    opacity: 0.5;
}

.draganddropsection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 26px;
    width: 1400px;
    z-index: 231;
    padding-left: 140px;
}

.plusbtnblack {
    justify-content: center;
    align-items: center;
    padding-bottom: 23px;
}

.draganddrop {
    display: flex;
    flex-direction: row;
}

.notesmain {
    width: 250px;
    border: none;
    background: #FFFFFF;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
    padding-bottom: 10px;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.08);
    border-radius: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    transition: 0.75s all ease-in-out;
}


.noteheadline {
    font-size: 16px;
    font-family: 'Inter';
}

.departmentdesign {
    width: 104px;
    height: 27px;
    background-color: #FF7A00;
    color: white;
    border-radius: 8px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-color: rgba(0, 0, 0, 0.8)
}

.inputnote {
    outline: none;
    width: 207px;
    height: 38px;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #A8A8A8;
}

.tmodifythecontents {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #A8A8A8;
    margin-top: 20px;
    padding-top: 20px;
}

.progressloadingbar {
    display: flex;
    justify-content: flex-start;
    gap: 40px;
    padding-top: 20px;
    align-items: center;
}

.progressloadingbarimage {
    margin-bottom: 20px;
}

.usericons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 18px;
    width: 35px;
    height: 35px;
}

.greenarrowdown {
    padding-left: 100px;
}

.greenarrowdown2 {
    padding-left: 130px;
}

.redarrowup {
    padding-left: 100px;
}

.yellowsum {
    padding-left: 100px;
}

.yellowsum2 {
    padding-left: 170px;
}

.dropdowncontainer {
    display: flex;
    flex-direction: column;
    height: 1020px;
    width: 250px;
    margin-left: 30px;
}

.dropdowncontainer-highlight {
    background-color: rgba(0, 0, 0, 0.5);
}

.tmodifythecontents {
    padding-bottom: 20px;
}

.halfdone {
    padding-bottom: 20px;
}

.iconsinicons {
    z-index: 30;
    margin-left: -8px;
}

.overlayAddContactincl {
    animation: toleft 1s linear;
}

.overlayAddContactoutcl {
    animation: torightout 1s linear;
}

.overlayAddContactcl {
    top: 213px;
    left: 354px;
    position: relative;
    width: 1212px;
    height: 594px;
    background: #FFFFFF;
    border-radius: 30px;
}


@keyframes toleft {
    0% {
        transform: translatex(1870px)
    }

    100% {
        transform: translatex(0px);
    }
}

@keyframes torightout {
    0% {
        transform: translatex(0px)
    }

    100% {
        transform: translatex(1870px);
    }
}

.hide {
    display: none;
}

.d-none {
    display: none;
}

.closebuttonx {
    width: 25px;
    height: 25px;
    padding-left: 500px;
    animation: rotate 300ms ease-in-out;
    animation-timing-function: cubic-bezier(1, 0, .5, 1);
}

@keyframes rotate {
    from { -webkit-transform: rotate(0deg) }
    to { -webkit-transform: rotate(360deg)} 
}



.taskcontainer {
    width: 623px;
    height: 824px;
    border-radius: 30px;
    background-color: #FFFFFF;
}

.containeropennote {
    justify-content: center;
    padding-left: 80px;
    padding-right: 30px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    height: 1005px;
    background-color: #FFFFFF;
}

.titleinput {
    margin-top: 8px;
    margin-bottom: 34px;
}

.description {
    padding-bottom: 8px;

}

.okbutton {
    margin-left: 430px;
    margin-top: 30px;
}

.closebuttonx {
    margin-top: 20px;
}

.assignedto {
    margin-bottom: 8px;
    padding-bottom: 8px;
}

.iconsfromusers {
    margin-top: 20px;
    gap: 10px;
}

.totalmastercontainer {
    width: 100%;
    height: 100%;
}

.mastertaskcontainer {
    background: rgba(255, 255, 255, 0.2);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: #FFFFFF;
    top: 184px;
    left: 500px;
    animation: toleft 255ms linear;
    border-radius: 30px;
    z-index: 100;
    flex-direction: column;
}

.popupnote {
    width: 623px;
    height: 824px;
    background-color: #FFFFFF;
    border-radius: 30px;
    position: absolute;
    top: 184px;
    left: 500px;
    z-index: 99;
    flex-direction: column;
    display: flex;
    animation: rotate 255ms ease-in-out;
    animation-timing-function: cubic-bezier(1, 0, .5, 1);
}

@keyframes rotate {
    from { -webkit-transform: rotate(0deg) }
    to { -webkit-transform: rotate(360deg)} 
}


.popupnotemastercontainer {
    display: none;
}

.show {
    display: flex;

}

.closenotebuttonx {
    width: 25px;
    height: 25px;
    padding-left: 550px;
    padding-top: 30px;
    animation: rotate 500ms ease-in-out;
    animation-timing-function: cubic-bezier(1, 0, .5, 1);
}

@keyframes rotate {
    from { -webkit-transform: rotate(0deg) }
    to { -webkit-transform: rotate(360deg)} 
}



@media (max-width: 1435px) {

    .tasks {

        padding-left: 100px;
    }

}

@media (max-width: 1345px) {

    .tasks {
        padding-left: 200px;
    }
.tboard {
    padding: 0px;
}
.insertboard {
    padding: 0px;
    
}
}

@media (max-width: 1305px) {

    .tasks {
        padding-left: 100px;
    }
.boardsection {
    padding-left: 60px;
}
.tboard {
    padding-right: 0px;
    padding-left: 180px;
}

}


@media (max-width: 1200px) {

    .tasks {
        padding-left: 100px;
    }
.boardsection {
    padding-left: 30px;
}

.tboard {
    padding-left: 20px;
}
}

@media (max-width: 1100px) {

    .tasks {
        padding-left: 10px;
        gap: 0;
    }
.boardsection {
    padding-left: 0px;
}

.tboard {
    padding-left: 0px;
}

}

@media (max-width: 1000px) {

    .tasks {
        padding-left: 10px;
        gap: 0;
        align-items: center;
    }
.boardsection {
    padding-top: 50px;
    align-items: center;
    
}

.tboard {
    font-size: 40px;
    padding-top: 20px;
    
}

}