/* .contactleftframecl { */
    /* position: absolute; */
    /* width: 453px; */
    /* height: 798px; */
    /* height: 90vh; */
    /* left: 232px; */
    /* top: 89px; */
    /* white */
    /* background: #FFFFFF;
    box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.08); */
/* } */

.MasterContainerDefaultPagecl {
    /* position: unset; */
    /* display: flex; */
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;

}

.addcontactleft2cl {
    position:absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 0px;
    width: 100%;
    height: 100vh;
    border: 1px solid green;
    z-index: 4;
    background-color: white;
}

.helpcontainer2cl {
    width: 90%;
    /* left: 50px;  */
    height: 400px;
    background: #2A3647;
    border: 30px;
    margin-top: 2em;
    border-top-left-radius: 30px;
    /* border-bottom-left-radius: 30px; */
    border-top-right-radius: 30px;
    /* border-bottom-right-radius: 30px; */

    
}


.addcontactheader2cl {
    margin-top: 1em;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;    
    font-size: 61px;
    line-height: 120%;
    color: #FFFFFF;
}

.addcontactsecheader2cl {
   
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 120%;
    margin-top: .5em;
    color: #FFFFFF;
    flex: none; 
}

.addcontactsecheader2cl span {
    padding-bottom: 5px;
    border-bottom: #29ABE2 solid 4px;
}

.closecross2cl {
    display: flex;
    justify-content: flex-end;
    margin-right: 1em;
    margin-top: 2em;
}

.closecross2cl:hover {
    cursor: pointer;
}

.avatarpic2cl {
    margin-top: -70px;
}


.addcontactrightinputfields2cl {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    /* gap: 29px; */
    /* position: absolute;
    width: 422px;
    height: 271px;
    left: 737px;
    top: 139px; */
    /* top: 159px; */
}

.subbuttoncreate2cl {
    /* Property 1=Default */
    /* box-sizing: border-box; */
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;
    /* gap: 10px; */
    /* Addition Input */
    margin-left: 35px;

    left: 10px;
    top: 250px;
    width: 193px;
    height: 61px;
    background: #2A3647;
    border: 1px solid #2A3647;
    border-radius: 10px;
    /* Inside auto layout */
    z-index: 4;
}

.subbuttoncreate2cl:hover {
    cursor: pointer;
    background-color: #29ABE2;
    border-color: #29ABE2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.subbuttoncontainer2cl {
    /* Frame 35 */
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* justify-content: flex-end; */
    /* align-items: center; */
    padding: 0px;
    margin-top: 4em;


}

.overlayAddContact2cl {
    display: contents;
    
    background: #FFFFFF;
    
    border-radius: 30px;
    
    /* animation: toleft 1s linear; */
    z-index: 3;
}


/* NOTE Edit contact - show page */

/* .overlayShowContactcl {
    display: none;
} */

.showcontactmain2cl {
    position:absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    left: 0px;
    top: 90px;
    width: 100%;
    height: 80vh;
    padding-top: 1em;
    margin-left: 2.5em;
    z-index: 3;
    /* z-index: 12; */
    background-color: white;
}

.headslogancl {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #000000;
}

.pagesigncl {
    font-style: normal;
    font-weight: 700;
    font-size: 47px;
    line-height: 120%;
    margin-top: .5em;
}

.subtextcl {
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    margin-top: 1em;
    margin-bottom: 1em;
}

.subtextcl span {
    padding-bottom: 21px;
    border-bottom: #29ABE2 solid 4px;
}

.showbothcl {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.backarrowcl {
    align-items: baseline;
    padding-top: 1em;
}

.showcontacttop2cl {
    display: flex;
    align-items: center;
    margin-top: 2em;
}

.showcontactname2cl {
    font-style: normal;
    font-weight: 500;
    font-size: 47px;
    line-height: 120%;
    margin-left: .5em;
    display: flex;
    align-items: center;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.showcontactaddtask2cl {
    margin-left: 1.5em;
    margin-top: 13px;
    /* Version 2/body */
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    /* or 19px */
    display: flex;
    align-items: center;
    color: #29ABE2;
    /* Inside auto layout */
    flex: none;
    order: 1;
}

.showcontacteditcontact2cl {
    
    /* width: 190; */
    margin-left: 37em;
    margin-top: 5em;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    gap: 5px;
    /* or 19px */
    display: flex;
    color: #2A3647;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}
