/* Hier stehen alle RD Elemente die in nonRD 
    nicht erscheinen dürfen! */


@media screen and (min-width: 1000px)  {
/* NOTE RD New Contact button */


.mobileButtonRDcl {
    display: none !important;
}

/* .overlayAddContactcl {
    display: none !important;
} */

 /* .overlayShowContact2cl { 
    display: none !important;
}  */

/* .showcontactmain2cl {
    display: none;
} */


} /* end of @media