* {
  font-family: "Inter";
  font-style: normal;
  margin: 0;
  color: #000000;
  /* padding-left: 180px; */
}

.notice {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
 
}

.notice h1 {
  font-weight: 700;
  font-size: 61px;
  line-height: 120%;
  margin-bottom: 48px;
}

.notice h2 {
  font-weight: 700;
  font-size: 27px;
  line-height: 120%;
  margin-bottom: 10px;
}
