* {
  font-family: "Inter";
  font-style: normal;
  margin: 0;
}

section {
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: #f5f5f5;
}
.headIcon {
  display: flex;
}

.headIcon img {
  position: absolute;
  left: 5.35%;
  width: 100.03px;
  height: 121.97px;
  top: 7.81%;
}

.contentBox {
  display: flex;
  align-items: center;
  flex-direction: column;

  isolation: isolate;
  padding: 44px 85px;
  gap: 35px;

  width: 826px;

  background: #ffffff;

  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
  border-radius: 30px;
  position: relative;
}

.contentBox a {
  position: absolute;
  top: 4px;
  left: 4px;
}

.backArrow {
  position: absolute;
  width: 37px;
  height: 37px;
  left: 31px;
  top: 34.5px;
  cursor: pointer;
}

.headlineBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 24px;
}

.headline {
  width: 627px;

  font-weight: 700;
  font-size: 61px;
  line-height: 120%;

  text-align: center;

  color: #000000;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.headlineBoxText {
  font-weight: 400;
  font-size: 21px;
  line-height: 120%;

  text-align: center;

  color: #000000;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.inputFieldBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 29px;
  width: 422px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.nameMailPasswordInputField {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 13px 21px;
  flex: none;
  order: 0;
  flex-grow: 0;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
}

.nameMailPasswordInputField input {
  border: none;

  color: black;
  font-weight: 400;
  font-size: 21px;
  line-height: 120%;

  outline: none;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 10px;

  width: 380px;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.nameMailPasswordInputField img {
  width: 20px;
  height: 18px;

  flex: none;
  order: 1;
  flex-grow: 0;
}

.ContinueBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;

  width: 264px;
  height: 51px;

  background: #2a3647;
  border-radius: 8px;

  font-weight: 700;
  font-size: 21px;
  line-height: 120%;

  border: none;
  color: #ffffff;
  cursor: pointer;
}

.ContinueBtn:hover {
  background: #29abe2;
  cursor: pointer;
}

@media (max-width: 1050px) {
  .contentBox {
    width: 372px;
    gap: 35px;
    padding: 35px 0px;
  }

  .backArrow {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 31px;
    top: 27px;
    cursor: pointer;
  }

  .headlineBox {
    gap: 14px;
    width: auto;
    height: auto;
  }
  .headlineBox p {
    width: auto;
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    text-align: center;
  }

  .headlineBoxText {
    width: 322px;
  }

  .inputFieldBox {
    align-items: center;
    width: auto;
    justify-content: center;
  }

  .nameMailPasswordInputField {
    width: 283px;
    gap: 0;
    justify-self: center;
  }

  .nameMailPasswordInputField input {
    width: 262px;
    font-size: 16px;
  }

  .ContinueBtn {
    font-size: 16px;
  }
}
