.help-header {
    display: flex;
    flex-direction: row;
    /* justify-content: center;
    align-items: center; */
    padding: 50px;
    gap: 30px;
    /* position: absolute; */
    
    height: 73px;
    left: 355px;
    top: 171px;
}
.help-headline {
    width: 138px;
    height: 73px;
    padding-left: 150px;
    /* padding:50px; */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 61px;
    line-height: 120%;
    color: #000000;
}
.help-arrow {
    position: absolute;
    /* width: 37px; */
    left: 578px;
    /* position: absolute;
    left: 16.67%;
    right: 16.67%;
    top: 17.59%;
    bottom: 17.59%;

    background: #000000; */
}
.help-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    padding-left: 190px;
    width: 969px;
    height: 137px;
}
.help-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    width: 969px;
    height: 137px;
 }
.help-info-titel{
    width: 346px;
    height: 32px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 120%;
    /* or 32px */


    color: #000000;
}
.help-info-text{
    width: 969px;
    height: 95px;

    /* body */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
        }
.help-use-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    padding-top: 20px;
    gap: 10px;

    width: 969px;
    height: 137px;
}
.help-use-titel {
    width: 346px;
    height: 32px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 120%;
    color: #000000;
}
.help-info-text {
    width: 915px;
    height: 57px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #000000;
}
.use-text {
    display: flex;
}
.number {
    width: 21px;
    height: 32px;
    display: flex;
    padding-right: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 120%;
    color: #000000;
}
.mobile-header-help {
    display: none;
}
@media screen and (max-width: 1100px){
    .mobile-header-help {
        display: flex;
    }
}