* {
  font-family: "Inter";
  font-style: normal;
  margin: 0;
}

.HeaderLogin {
  display: flex;
  justify-content: flex-end;
}
.headiconJoin {
  position: absolute;
  left: 5.35%;
  right: 87.71%;
  top: 7.81%;
  bottom: 80.28%;
  height: 122px;
  width: 100px;
}

.UserSignUp {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 35px;
  position: absolute;
  width: 287px;
  height: 51px;
  right: 10%;
  top: 67px;
}

.NotJoinUser {
  width: 161px;
  height: 25px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 120%;
  color: #000000;
}

.UserSignUp a {
  text-decoration: none;
}

.btnSignUp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 16px;
  gap: 10px;
  background: #2a3647;
  border-radius: 8px;

  width: 91px;
  height: 51px;

  font-weight: 700;
  font-size: 16px;
  line-height: 120%;

  color: #ffffff;
  border: none;
  cursor: pointer;
}

.btnSignUp:hover {
  background: #29abe2;
  cursor: pointer;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  height: 100vh;
  flex-direction: column;
}

.contentBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 35px 0px;
  gap: 35px;
  max-width: 100%;
  width: 652px;
  background: #ffffff;

  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
  border-radius: 30px;
}

.headlineBox {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 24px;

  width: 315px;
  height: 97px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.headlineBox p {
  width: 627px;
  height: 73px;

  font-weight: 700;
  font-size: 61px;
  line-height: 120%;

  text-align: center;

  color: #000000;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.emailPasswordField {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 29px;

  flex: none;
  order: 1;
  flex-grow: 0;
}

.inputBox {
  gap: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mailPasswordInputField {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 13px 21px;

  flex: none;
  order: 0;
  flex-grow: 0;

  border: 1px solid #d1d1d1;
  border-radius: 10px;
}

.mailPasswordInputField input {
  border: none;
  height: 100%;

  color: black;
  font-weight: 400;
  font-size: 21px;
  line-height: 120%;

  flex: none;
  order: 0;
  flex-grow: 0;
  outline: none;
  width: 360px;
}

.mailPasswordInputField img {
  width: 20px;
  height: 18px;

  flex: none;
  order: 1;
  flex-grow: 0;
}

.mailPasswordInputField img {
  cursor: pointer;
}

.rememberMe {
  display: flex;
  justify-content: space-between;

  font-weight: 400;
  font-size: 16px;
  line-height: 120%;

  color: #000000;
  width: 335px;
  height: 19px;
}

.reMeBox {
  display: flex;
  gap: 12px;
}

.ForgotPassword {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;

  color: #29abe2;
}
.btnLogGuest {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 35px;
}
.btnLogIn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 0px;
  gap: 10px;

  width: 145px;
  height: 51px;

  background: #2a3647;
  border-radius: 8px;
  border: 0;
  color: #ffffff;

  font-weight: 700;
  font-size: 21px;
  line-height: 120%;

  color: #ffffff;
}
.btnLogIn:hover {
  background: #29abe2;
  cursor: pointer;
}

.btnGuestLog {
  box-sizing: border-box;
  border: 0;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 16px;
  gap: 10px;

  width: 161px;
  height: 51px;

  border: 1px solid #2a3647;
  border-radius: 8px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 120%;

  color: #2a3647;
  cursor: pointer;
  background-color: white;
}
.btnGuestLog:hover {
  cursor: pointer;

  border: 2px solid #29abe2;
  color: #29abe2;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 8px;
}

.msgBoxDnone {
  display: none;
}

.msgBox {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 70px;
  padding: 4px 0px;

  width: 400px;
  height: 44px;

  background: #2a3647;
  border-radius: 8px;
  border: 0;
  color: #ffffff;

  font-weight: 700;
  font-size: 21px;
  line-height: 120%;
}

.shake {
  border: 1px solid red;
  position: relative;
  animation: shake 0.2s;
}

@keyframes shake {
  0%,
  100% {
    left: 0px;
  }
  20%,
  80% {
    left: -15px;
  }
  40%,
  60% {
    left: 15px;
  }
}

.startBackground {
  height: 100vh;
  width: 100%;
  background-color: #f5f5f5;
  position: absolute;
  opacity: 0;
  animation: fadeBackground 1500ms ease-in-out;
  animation-direction: normal;
  z-index: -10;
}

.logoAnimation {
  animation: slideLogo 1000ms ease-in-out;
  animation-direction: normal;
  z-index: 15;
}

@keyframes slideLogo {
  0% {
    top: calc(50% - 122px);
    left: calc(50% - 100px);
    transform: translate(-50%, -50%);
    transform: scale(2);
  }
  20% {
    top: calc(50% - 122px);
    left: calc(50% - 100px);
    transform: translate(-50%, -50%);
    transform: scale(2);
  }
  100% {
    top: 7.81%;
    left: 5.35%;
    transform: scale(1);
  }
}

@keyframes fadeBackground {
  0% {
    opacity: 100%;
    z-index: 10;
  }
  50% {
    opacity: 100%;
  }
  99% {
    opacity: 0%;
    z-index: 10;
  }
  100% {
    z-index: -1;
  }
}

@media (max-width: 700px) {
  .UserSignUp {
    left: calc(50% - 143.5px);
    top: unset;
    bottom: 10px;
  }

  .contentBox {
    width: 372px;
    gap: 20px;
    max-width: 100%;
  }

  .headlineBox {
    gap: 0;
    width: auto;
    height: auto;
  }
  .headlineBox p {
    width: auto;
    font-weight: 700;
    font-size: 47px;
    line-height: 120%;
    text-align: center;
  }

  .inputBox {
    align-items: flex-start;
  }

  .mailPasswordInputField {
    gap: 0px;
    width: 285px;
    max-width: 100%;
  }

  .emailPasswordField {
    gap: 28px;
  }

  .mailPasswordInputField input {
    width: 267px;
  }

  .rememberMe {
    flex-direction: column-reverse;

    gap: 31px;

    width: auto;
    height: auto;
  }

  .btnLogGuest {
    flex-direction: column;
    align-items: center;
    height: auto;
    font-size: 16px;
  }

  .btnLogIn {
    font-size: 16px;
  }
  .headiconJoin {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 60px;
    height: auto;
  }

  .headiconJoin img {
    width: 60px;
  }

  .msgBox {
    width: 372px;
  }

  @keyframes slideLogo {
    0% {
      width: 60px;
      top: calc(50% - 30px);
      left: calc(50% - 36.5px);
      transform: translate(-50%, -50%);
    }
    20% {
      width: 60px;
      top: calc(50% - 30px);
      left: calc(50% - 36.5px);
      transform: translate(-50%, -50%);
    }
    100% {
      width: 60px;
      top: 15px;
      left: 15px;
      height: auto;
    }
  }
}

@media (max-width: 410px) {
  .contentBox {
    width: 90%;
  }
  .inputBox {
    width: 90%;
  }
  .mailPasswordInputField {
    width: auto;
    max-width: unset;
  }
  .mailPasswordInputField input {
    width: 90%;
  }
  .msgBox {
    width: 100%;
  }
}
