body {
    margin: 0px;
    position: relative;
    /* width: 1440px;
    height: 1024px; */
    background: #F6F7F8;
    font-family: 'Inter';
}
/* * {
    box-sizing: border-box;
} */
.MasterContainerInsidecl {
    /* width: calc(100%  - 230px);
    height: calc(100% - 100px); */
    padding-left:100px;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 36px 15px 348px;
    gap: 34px;
    
    /* position: absolute;
    width: 1440px;
    height: 89px; */
    left: 0px;
    top: 0px;    
    background: #FFFFFF;    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}
.toolName {
    width: 335px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    /* or 25px */
    color: #000000;
}
.headerRight {
    display: flex;
}
.profilImg {
    /* position: absolute;
    width: 129px;
    height: 225px;
    left: -48.44px;
    top: -44.94px;*/
    border: 2px solid var(--bg-white);
    border-radius: 559px; 
    width: 49px;
    height: 49px;
    left: 0px;
    top: 0px;
    border: 3px solid #2A3647;
    cursor:pointer;
    
   
}
.profilImg :hover{
    border: 3px solid darkviolet;
    cursor: position;
}
.header-label {
    display: none;
    /* display: flex; */
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    align-items: center;
    color: white;
    /* padding: 10px; */
    /* position: relative; */
    width: 130px;
    height: 53px;
    /* Version 2/ main color */
    background: #2A3647;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px 0px 20px 20px;
}
.help {
    width: 31px;
    height: 31px;
    padding: 10px;
    cursor: pointer;
}
.sideMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 66px 20px; */
    gap: 103px;
    position: absolute;
    width: 232px;
    height: 100vh;
    left: 0px;
    top: 0px;
    background: #2A3647;
    /* nuevo */
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0px;
}
.logo {
    display: flex;
    padding-top: 66px;
    /* flex-direction: column;
    align-items: center; */
    /* padding: 66px 20px; */
    /* padding-left: 28.44%; */
    /* gap: 103px;

    position: absolute;
    width: 232px;
    height: 1024px;
    left: 0px;
    top: 0px; */

    background: #2A3647;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}
.navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;
    
    width: 232px;
    height: 229px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 53px;
    gap: 20px;
    width: 232px; 
    /* /* height: 46px;
    padding: 28.44%; */
    /* padding-top: 10.96%; */
}
.header .navbar a:hover{
    border-bottom: 4px solid var(--btn-green);
    background: #091931;
}

.navbar-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: white;
    gap: 20px;
}
.navbar-Element {
    text-decoration: none;
    width: 72px;
    height: 19px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #FFFFFF;
}
.mobile-header {
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 25px;
    /* position: fixed; */
    height: 80px;
    top: 0;
    left: 0;
    right: 0;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}


.mobile-logo {
    height: 32px;
    width: 32px;
    object-fit: fill;
}
.mobile-sideMenu {
    display: none;
}
/* .navbar-img {
    position: absolute;
    left: 4.17%;
    right: 4.16%;
    top: 4.87%;
    bottom: 3.46%;

    background: #CDCDCD;
} */
/* .notice { */
    /* display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start; */
    /* padding: 243px 0px 0px; */
    /* gap: 15px;

    width: 160px;
    height: 289px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #FFFFFF;
    /* or 19px 


color: #CDCDCD;
} */
.navbar-Notice {
    text-decoration: none;
    /* width: 72px; */
    height: 19px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #FFFFFF;
}
.d-none {
    display: none !important;
}
/* .dropdown-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
    position: relative;
    width: 130px;
    /* height: 119px; */
    /* background: #2A3647;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px 0px 20px 20px;
    text-decoration: none;
    width: 94px;
    height: 17px;
    top: 79px;
    right: 20px; 
} */
.dropdown-links {
    display: flex;
    justify-content: center;
    background: #2A3647;
    color: var(--font-nav-color);
    position: absolute;
    top: 89px;
    right: 36px;
    border-radius: 10px 0px 10px 10px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    width: 94px;
    /* height: 21px; */
}
.logOutDesk {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #CDCDCD;
    text-decoration: none;
    justify-content: center;
    display: flex;
}

.dropdown-links div {
    padding: 18px;
    cursor: pointer;
}
/* .mobile-dropdown {
    display: none;
} */
/* .logOutDesk {
    text-decoration: none;
    width: 94px;
    height: 17px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #CDCDCD;
} */

@media screen and (max-width: 999px){
    .MasterContainerInsidecl{
        padding:0%;
    }
    .sideMenu {
        display: none;
    }
    .header {
        display: none;
    }
    .mobile-header {        
        display: flex;
        padding: 20px 25px;
        /* max-width: 89%; */
        box-sizing: border-box;         
    }
    
    .mobile-dropdown {
        display: block;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        color: #CDCDCD;
        text-decoration: none;
        justify-content: center;
        display: flex;
    }
    .mobile-dropdown-links {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
        position: absolute;
        width: 130px;
        background: #2A3647;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
        border-radius: 20px 0px 20px 20px;
        text-decoration: none;
        width: 94px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        color: #CDCDCD; 
        gap: 15px;
     }
    .mobile-dropdown-links div {
        top: 79px;
        right: 20px;
    }  
    
    .mobile-dropdown-links div {
        padding: 18px;
        cursor: pointer;
    }
    .mobile-logo {
        height: 32px;
        width: 32px;
        object-fit: fill;
    }
    
    .mobile-navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding: 0 12px;
        gap: 10px;
        /* max-width: 89%; */
        position: fixed;
        height: 80px;
        bottom: 0;
        left: 0;
        right: 0;
        background: #2A3647;
    }
    .mobile-sideMenu {
        display: flex;

    } 
    .mobile-navbar-icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        color: white;
    }
    .mobile-navbar-img {
        height: 32px;
        width: 32px;
        object-fit: fill;
    }
 } 
